.Button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 35;
    -fx-text-alignment: "CENTER";
}

.Button:hover {
    -fx-background-color: #FFFF64;
}
.Anchor{
    -fx-background-image:url("GUI_resources/train-bg.png");
}

.Pane{
    -fx-background-image:url("GUI_resources/pane_bg.png");
}
